In [2]:
import pandas as pd
import numpy as np

In [34]:
df = pd.read_csv('./data/rosette3_nodes.csv')
df

,TARGET_ID,PROVABGS_LOGMSTAR_BF,FLUX_G_DERED,FLUX_R_DERED,FLUX_Z_DERED,FLUX_W1_DERED,FLUX_W2_DERED,Z
0,39633390185480938,10.894820,6.782468,16.732075,29.996437,31.939342,25.343126,0.281946
1,39633416324383107,10.909547,4.457543,17.798513,37.420948,46.075268,30.963612,0.270358
2,39633393155049303,10.270718,13.264330,27.728409,46.020153,37.033370,25.867756,0.173111
3,39633390164510257,11.017787,9.799708,23.078470,40.248550,43.608025,32.920425,0.285418
4,39633396124617897,11.287631,4.046807,16.825310,38.797770,85.028520,54.118330,0.374005
...,...,...,...,...,...,...,...,...
11182,39633413505812174,10.608656,6.489779,15.314315,27.019762,26.064346,18.283577,0.253004
11183,39633413505812049,10.127943,19.767212,45.519585,72.001060,64.199920,44.206470,0.170550
11184,39633410666268292,10.643876,6.877619,15.315929,24.667350,19.804140,14.989974,0.266701
11185,39633413505811644,10.684380,6.992260,25.884378,52.148464,56.067580,39.111940,0.253720
11186,39633416366328637,12.271829,6.016646,23.444977,54.410477,81.239760,47.229510,0.460618

In [35]:
fw1 = df.FLUX_W1_DERED
np.where(fw1<0)

(array([2143, 3279, 3508, 4532, 4599, 5397, 5527, 5556, 6796, 8451, 9931]),)

In [36]:
fw2 = df.FLUX_W2_DERED
np.where(fw1<0)

(array([2143, 3279, 3508, 4532, 4599, 5397, 5527, 5556, 6796, 8451, 9931]),)

In [45]:
def find_negative_indices(df):
    indices = np.union1d(np.where(df.FLUX_W1_DERED < 0)[0], np.where(df.FLUX_W2_DERED < 0)[0])
    return indices

dic = {}
for r in [3, 6, 7, 11, 12, 13, 14]:
    df = pd.read_csv(f'./data/rosette{r}_nodes.csv')
    negative_indices = find_negative_indices(df)
    dic[r] = negative_indices

dic

{3: array([  426,   530,  1046,  1090,  1850,  2143,  2576,  3279,  3508,
         4532,  4541,  4599,  5397,  5527,  5556,  5719,  5927,  6181,
         6565,  6796,  7083,  7364,  8185,  8326,  8451,  8853,  8860,
         9221,  9931, 10444]),
 6: array([ 202,  280,  655,  731, 3089, 3584, 4315, 4328, 5253, 5934, 6424,
        6921, 6962, 7021, 7174, 7440, 7902, 8876, 8999, 9408]),
 7: array([  292,   530,   669,  1276,  1313,  1327,  1386,  1655,  1788,
         1930,  2103,  2761,  2789,  2919,  3217,  3218,  3594,  3874,
         3919,  4399,  4542,  4806,  5299,  5457,  5801,  5896,  6028,
         6299,  6414,  6675,  6689,  6760,  6778,  6881,  7210,  7248,
         7661,  7705,  8139,  8374,  8827,  8952,  9303,  9324,  9342,
         9584,  9596,  9762,  9773, 10546, 11181, 11562]),
 11: array([  118,   301,   512,  1238,  1368,  1377,  1517,  1778,  2982,
         3821,  4195,  4606,  5425,  5815,  6047,  6178,  6272,  6703,
         6782,  6798,  6805,  7427,  7492,  7560,  7770,  7792,  8254,
         8332,  8341,  8618,  9250,  9420,  9493,  9633,  9741, 10891,
        11493, 11589, 12736, 12813]),
 12: array([   41,    74,   274,  1565,  1607,  1712,  1882,  1914,  2567,
         2941,  3297,  3460,  4142,  4324,  4464,  5260,  5737,  6298,
         6400,  6972,  8770,  8854,  9219,  9620, 10266]),
 13: array([  189,  1006,  1688,  1815,  2013,  2231,  2858,  2888,  3141,
         3555,  3610,  3842,  4082,  4258,  4500,  4711,  5079,  5480,
         5571,  6373,  6466,  6594,  7059,  7153,  7436,  7501,  7600,
         8346,  8377,  8495,  8511,  8610,  9291,  9326,  9333,  9409,
         9463,  9657,  9816,  9848, 10285, 10709, 11085, 11312, 12312,
        12412]),
 14: array([  693,   779,  1135,  1642,  1912,  2533,  2939,  2942,  4352,
         4910,  4920,  4983,  5223,  5283,  5617,  5734,  6190,  7109,
         7186,  8712,  8823,  9026,  9217,  9326,  9356,  9360,  9371,
         9985, 10113, 10269, 10286, 10549])}